/*
Theme Name: Virtue Child Theme
Theme URI: http://themes.kadencethemes.com/virtue-premium/
Description: Child Theme for Virtue
Author: Kadence Themes
Author URI: http://kadencethemes.com/
Template: virtue
Version: 1.0.1
*/

/* https://aceplugins.com/showing-a-out-of-stock-overlay-in-woocommerce/ */

.woo-thumbnail-wrap { position: relative; }
.outofstock .woo-thumbnail-wrap:before {
	content: "";
	background: rgba(255,255,255,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; top: 0;
}

.outofstock .woo-thumbnail-wrap:after {
	content: "OUT OF STOCK";
	color: #333;
	position: absolute;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10%;
	text-align: center;
	width: 70px;
	height: 70px;
	top: calc(50% - 35px);
	left: calc(50% - 35px);
	font-size: 0.8em;
	font-weight: bold;
	display: flex;
	align-items: center;
}

/* top bac  */
.topbar_social i,
.kad-cart-total i {
	font-size: 24px;
}
.topbarmenu, .topbar-widget {
	padding: 0.5rem;
}
.topbarmenu ul li a {
	font-size: 20px;
}

/* custom homepage info block */
/* classes to be used to build an info block */
.color-text-block {
    background-color: #68788C;
    color: white;
    padding: 2rem;
    display: flex;
}
.color-text-block .kt-inside-inner-col {
	align-items: center;
    margin: auto 0;
    padding: 3rem;
}

.info-image-block {
	margin-top: 0;
	margin-bottom: 0;
}
.color-text-block h3,
.color-text-block a {
	color: #fff;
    font-weight: 600;
}


.ebook {
	background-color: #D9D9D9;
	padding: 3rem 0;
}



#containerfooter {
	border-top: solid 1px #d9d9d9;
}


.woo-thumbnail-wrap { position: relative; }
.outofstock .woo-thumbnail-wrap:before {
	content: "";
	background: rgba(255,255,255,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; top: 0;
}


.outofstock .woo-thumbnail-wrap:after {
	content: "OUT OF STOCK";
	color: #333;
	position: absolute;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10%;
	text-align: center;
	width: 70px;
	height: 70px;
	top: calc(50% - 35px);
	left: calc(50% - 35px);
	font-size: 0.8em;
	font-weight: bold;
	display: flex;
	align-items: center;
}




/* woocommerce homepage blocks */
.wc-block-grid__product {
	display: flex;
	flex-direction: column;
}
.wc-block-grid__product-title {
	font-family: Lato;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
	font-size: 16px;
}
.wc-block-grid__product-link {
	flex-grow: 1;
}
.wc-block-grid__product-price {
	font-size: 16px;
    font-weight: 700;
	display: block;
}
.wc-block-grid__product-add-to-cart {
	display: block;
    color: #fff;
    background: #ddd;
	background-color: #ebe9eb;    
	font-size: 16px;
	padding: 4px 18px;
	width: 100%;
}
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
	color: #515151;
	padding: 0;
	text-transform: uppercase;
    background-color: #ebe9eb;
}


/* woocommerce homepage blocks */
.wc-block-grid__product {
	display: flex;
	flex-direction: column;
}
.wc-block-grid__product-title {
	font-family: Lato;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
	font-size: 16px;
}
.wc-block-grid__product-link {
	flex-grow: 1;
}
.wc-block-grid__product-price {
	font-size: 16px;
    font-weight: 700;
	display: block;
}
.wc-block-grid__product-add-to-cart {
	display: block;
    color: #fff;
    background: #ddd;
	background-color: #ebe9eb;    
	font-size: 16px;
	padding: 4px 18px;
	width: 100%;
}
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
	color: #515151;
	padding: 0;
	text-transform: uppercase;
    background-color: #ebe9eb;
}


/* From customizer */
.archive.woocommerce mark.count {
    display:none;
}

.home-iconmenu a {
    background: #BC8F8F;
}

.home-iconmenu a:hover {background: #5789}


.home-iconmenu a i {
    font-size: 35px;
}
.kadence-column_3373c0-9c {
	background-color: white!important;
}
.kadence-column_bd8798-5c {
	background-color: #68788C;
}